*{
	margin: 0;
	padding: 0;
}
body{
	font-family: monospace;
}

#container{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.box{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	margin: 10px;
	color: white;
	background: #20c4cc;
	vertical-align: middle;
	font-size: 1.5rem;
	border-radius: 5px;
	cursor: move;
}

